@import url("https://use.typekit.net/jmk3xov.css");

* {
  padding: 0;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
}

:root {
  --dark-bg: rgba(19, 19, 19, 0.863);
  --spacing: 250px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(0, 0, 0);
}

main {
  /* width: 100vw; */
  /* z-index: 99; */
  /* position: absolute; */
  margin: 0px auto;
  padding: 120px 0px;

  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

.image-size {
  width: 300px;
}

header {
  width: 50%;
  background: var(--dark-bg);
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  backdrop-filter: blur(2px);
}

section {
  padding: 3rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  color: white;
  backdrop-filter: blur(2px);
}

blockquote {
  /* width: 100vh; */
  margin: 3em;
  padding: 0;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.download {
  background-color: #222368;
  border: 2px cornsilk;
  border-radius: 5px;
  color: white;
  padding: 8px 32px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.takeoff {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;

  background-color: #222368;
  border: 2px cornsilk;
  border-radius: 5px;
  color: white;

  padding: 8px 32px;
  margin: 3em;
  text-align: center;

  align-items: center;
  font-size: 48px;
}

.takeoff:hover {
  color: white;
}

.seemore {
  border-radius: 50px;
  color: cyan;
  padding: 0px 32px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
